* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* заголовок */

.headline-tournaments {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 216px;
    font-size: 50px;
    border-bottom: 2px solid #4CAF50;
}
.description-of-the-tournaments-page {
    font-size: 19px;
    margin-top: 25px;
    height: 50px;
    border-bottom: 1px solid #333;
}

.block-creation-tournaments {
    width: 100%;
}

.description-creation-tournaments {
    width: 100px;
}

.create-tournament-button {
    width: 200px;
}

.information-creation-tournaments {
    width: 100%;
}

/* Модальное окно для создания турнира */

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 99998;
    background-color: rgba(0,0,0,.4);
    display: grid;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition: opacity .4s, visibility .4s;
}

.modal-box {
    position: relative;
    color: black;
    max-width: 500px;
    padding: 45px;
    z-index: 1;
    margin: 30px 15px;
    background-color: white;
    box-shadow: 0px 0px 66px -4px rgba(255, 255, 255, 0.59);
    transform: scale(0);
    transition: transform .4s;
}

.model-close {
    position: absolute;
    top: 12px;
    right: 12px;
    border: none;
    background-color: transparent;
    padding: 1px;
}

.model-close svg path {
    transition: fill .3s;
}

.model-close:hover svg path {
    fill: red;
}
.modal.open {
    visibility: visible;
    opacity: 1;
}

.modal.open .modal-box {
    transform: scale(1);
}

.succes {
    font-size: 22px;
    color: #4CAF50;
    text-align: center;
    margin-left: 150px;
}

.disp {
    display: none;
}