* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body-tournament {
    background-color: #191919;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    overflow-x: hidden;
    line-height: 1;
}

/* заголовок */

.headline-tournaments {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 216px;
    height: 58px;
    font-size: 50px;
    border-bottom: 2px solid #4CAF50;
}
.description-tournaments-page {
    font-size: 19px;
    margin-top: 25px;
    height: 50px;
    border-bottom: 1px solid #333;
}

/* Модальное окно для создания турнира */

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 99998;
    background-color: rgba(0,0,0,.4);
    display: grid;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition: opacity .4s, visibility .4s;
}

.modal-box {
    position: relative;
    color: #ffffff;
    max-width: 740px;
    padding: 50px;
    z-index: 1;
    margin: 30px 15px;
    background: #222;
    box-shadow: 0px 0px 60px -4px #4CAF50;
    transform: scale(0);
    transition: transform .4s;
    border: 2px solid #4CAF50;
    border-radius: 12px;
}

.block-heading-info-creat-tourmnament {
    height: 65px;
    width: 633px;
    border-bottom: 1px solid #444;
}

.heading-info-creat-tourmnament {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 39px ;
}

.info-creat-tourmnament {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 1.3;
    margin-top: 25px;
}

.model-close {
    position: absolute;
    top: 12px;
    right: 12px;
    border: none;
    background-color: transparent;
    color: #fff;
    padding: 1px;
}

.model-close svg path {
    transition: fill .2s;
}

.model-close:hover svg path {
    fill: red;
}
.modal.open {
    visibility: visible;
    opacity: 1;
}

.modal.open .modal-box {
    transform: scale(1);
}

.succes {
    font-size: 22px;
    color: #4CAF50;
    text-align: center;
}

.disp {
    display: none;
}

.button-create-tournament {
    width: 216px;
    height: 50px;
    color: #ffffff;
    text-align: center;
    border: 1px solid #353535;
    background: #2a2a2a;
    font-size: 26px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 12px;
    transition: .4s;
    margin-top: 30px;
}

.button-create-tournament:hover {
    background: #4CAF50;
}

.block-input {
    max-width: 197px;
}

.input-name {
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
    color: #fff;
    width: 197px;
    height: 40px;
    background: none;
    border-bottom: 2px solid #4CAF50;
    outline:none;
    border-right: none;
    margin-top: 20px;
}

.input-phone {
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
    color: #fff;
    width: 197px;
    height: 40px;
    background: none;
    border-bottom: 2px solid #4CAF50;
    outline:none;
    border-right: none;
    margin-top: 15px;
}

.input-telegram {
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
    color: #fff;
    width: 197px;
    height: 40px;
    background: none;
    border-bottom: 2px solid #4CAF50;
    outline:none;
    border-right: none;
    margin-top: 15px;
}

.button-send-tournament {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    width: 197px;
    height: 40px;
    background: none;
    border-radius: 9px;
    border: 1px solid #4CAF50;
    color: #fff;
    margin-top: 30px;
    transition: .3s;
}

.button-send-tournament:hover {
    background: #4CAF50;
}

.modal-advertisement {
    position:fixed;
    right: 50px;
    bottom: 50px;
    width: 400px;
    height: 228px;
    border: 2px solid #4CAF50;
    border-radius: 12px;
}

.position-foto-barsekadmin {
    display: grid;
}

.a-img-barsekadmin {
    position: fixed;
    right: 61px;
}

.barsekadmin-advertisement {
    max-width: 195px;
    border-radius: 12px;
    margin-top: 10px;
}

.text-barsekadmin {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 32px;
    width: 175px;
    position: fixed;
    margin-left: 10px;
    margin-top: 7px;
}

.style-button-url-advertisement {
    position: fixed;
    bottom: 70px;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.button-url-advertisement {
    text-decoration: none;
    width: 150px;
    height: 50px;
    color: #fff;
    border: 1px solid #4CAF50;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 20px;
    margin-bottom: 3px;
    transition: .3s;
}

.button-url-advertisement:hover {
    background: #4CAF50;
}